@font-face 
{
  font-family: "Parisienne";
  src: url(./assets/Parisienne-Regular.ttf);
}

* 
{
  margin: 0px;
  padding: 0px;
}
html 
{
  background-color: black;
  background:url(./images/Accueil/marbre3.png);
}

.logo
{
 position: absolute;
 margin-right: 500px;
 margin-top: auto;
}

body 
{
  margin: 0;
  padding: 0;
  font-family: "Parisienne", sans-serif;
  font-size: 25px;
}

.menu 
{
  display: flex;
  padding: 0;
  background-color: black;
  justify-content: center;
  border-bottom: 5px solid grey;
  height: 65px;
}


.menu li 
{
  list-style-type: none;
}

/* Configuration des liens du menu. Texte aligné au centre des cases. Cases de couleur noires avec police blanche*/
.menu a {
  display: block;
  min-width: 160px;

  margin: 0.5rem;
  padding: 0.4rem 0;
  text-align: center;
  background-color: black;
  color: white;
  text-decoration: none;
  position: relative;
  transition: .5s;
}

.menu ul::after {
  content: "";
  display: table;
  clear: both;
}
/* Permet de souligner en blanc lorsque la souris passe sur les blocs du menu */
.menu a:hover {
  color: white;
  border-bottom: 2px solid white;
  transform: scale(1.05);
}
.logo 
{
  position: absolute;
  margin-right: 500px;
  margin-top: auto;
}

.logo img 
{
  max-width: 14.5%;
  height: auto;
}


input 
{
  /* Pour que tous les champs texte aient la même dimension */
  width: 150px;
  box-sizing: border-box;

  /* Pour harmoniser le rendu visuel des bordures des champs texte */
  border: 2px solid #999;
}
